<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.3.0/socket.io.js"></script>

  </head>
  <body>
    <nav>
      <span class="v_center" id="logo">Twitter Helpdesk</span>
      <a class="v_center" id="btn_logout" href="/logout">Logout</a>
    </nav>
    <% if (err) { %>
    <h2><%= err %></h2>
    <% } %>
    <div class="container">
      <div id="col_left">
        <div class="col_left_header">
          <span >Recent Tweets</span>
        </div>
        <% if (!tweets || tweets.length==0) { %>
          <h3 id="no_tweets">No Tweets found</h2>
        <% } %>
        <div class="list_container">
          <% tweets.forEach(function(tweet){ %> 
            <%- include('tweets/tweetRoot',{tweet: tweet,selectedId:selectedId}) %> 
          <% }); %>
        </div>
 
       
      </div>
      <div id="col_right">
        <div class="col_right_header">
          <span id="loading">Loading...</span>
          <!--
          <span id="close_right">Close</span>

          -->

        </div>
        <div id="list_container_right" >
          
        </div>
        <div id="input_section">
          <div id="input_tweet_div">
            <input id="input_tweet" type="text" placeholder="Enter tweet here">
          </div>
          <img id="btn_create_tweet" src="/images/icon_send.png">

        </div>

      </div>
    </div>

    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script src="/javascripts/main.js"></script>
    <script src="/javascripts/sockets.js"></script>
    
    
    </body>
</html>
