<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel="stylesheet" href="/stylesheets/login.css" />
  </head>
  <body>

    <div class="container_root">
      <div class="container">
        <h1>Welcome to KM Helpdesk</h1>
        <a id="btn_login" href="/auth/twitter">Sign in with Twitter</a>
      </div>
      
    </div>
    
  </body>
</html>
